html,body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
    padding-left:70px ;
    box-sizing: border-box;
}
header{
    background: url(../img/first_bg.jpg) no-repeat center top ;
    background-size: cover;
    padding-top: 45px;
    /* padding-left:70px ; */
    color: white;
    height: 630px;
    box-sizing: border-box;
    
}

header .left-content p{
    font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}

.logo{
    padding-bottom: 22px;
}

header .content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.left-content{
    width: 600px;
}
h1{
    font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 19px;
}

.video{
    width: 100%;
    height: 338px;
}

header .right-content .wrapper{
    /* margin: 0 auto; */
    width: 330px;
}

header .right-content{
    /* width: 100%; */
    padding-left: 100px;
}

.join-form{
    width: 100%;
    height: 412px;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    height: 412px;
    text-align: center;
    box-sizing: border-box;
    padding: 22px 0 22px;
    display: flex;
    flex-direction: column;
}
.join-form h2{
    text-align: center;
    font-size: 27px;
    font-weight: 800;
    margin: 19px 0 6px;
}
.join-form input{
    width: 302px;
    height: 48px;
    border-radius: 20.5px;
    background-color: #eceef1;
    border: 0;
    margin: 9px auto 0;
    padding:0 18px;
    box-sizing: border-box;
    font-size: 16px;
    color: black;
    outline: none;
}
.join-form input:focus{
    border: 1px solid #1b0195;
}

.join-form input::placeholder{
    font-size: 16px;
    color: black;
}   

.join-form .submit-btn{
    margin: 12px auto 0;
}

.join-form .steps{
    width: 85px;
    height: 31px;
    border-radius: 14.8px;
    background-color: #1b0195;
    color: #ffffff;
    line-height: 2;
    margin: 0 auto;
}

.submit-btn{
    width: 302px;
    height: 58px;
    border-radius: 28.4px;
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.31);
    cursor: pointer;
    outline: none;
    border: 0;
    background-image: linear-gradient(to top, #fd3675, #ff6a52);
}

.offer {
    margin: 22px auto 0;
    width: 240px;
    height: 30px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.offer img{
    width: 40px;
    display: block;
    height: 25px;
    margin-top: 5px;

    margin-right: 12px;
}

.offer div{
    width: 188px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}

.pink-collor{
    color: #fd3277;
}

.gradient-line {
    height: 160px;
    background-color: black;
    color: white;
}

.gradient-line .left-content{
    height: 2px;
}

.gradient-line .container,.bit-rush .container {
    display: flex;
    flex-direction: row;

}

.gradient-line .right-content{
    padding-left: 104px;
    padding-top: 35px;
    box-sizing: border-box;
}

.bid-ask{
    font-size: 24px;
  font-weight: 500;
  line-height: 0.92;
  box-sizing: border-box;
  padding-left: 5px;
}
.logos-money{
    width: 330px;
}

.logos-money ul{
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bit-rush .left-content{
    height: 609px;
    position: relative;
}
.bit-rush .container{
    box-sizing: border-box;
    padding: 68px 0 63px 70px;
}

.bit-rush .right-content{
    width: 415px;
}


.bit-rush h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}
.bit-rush .right-content p{
    margin: 29px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    text-align: left;
}

.bit-rush .submit-btn{
    margin-bottom: 43px;
}

.featured-h{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
}

.featured-logos ul{
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bit-rush{
    overflow: hidden;
}

.planet-container{
    background: url(../img/planet.png) no-repeat center top ;
    background-size: cover;
    width: 802px;
    height: 609px;
    position: absolute;
    right: 56px;
}

.arrow{
    position: absolute;
    background: url(../img/arrow.png) no-repeat center top ;
    background-size: cover;
    z-index: 2;
    right: 0;
    width: 585px;
    height: 495px;
    top: 94px;
}
.year-amount{
    background: url(../img/ball.png) no-repeat center top ;
    background-size: cover;
    color: white;
    text-align: center;
    position: absolute;
}

.year-amount_s{
    width: 87px;
    height: 87px;
    box-sizing: border-box;
    padding-top: 23px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    bottom: 20px;
    left: 74px;
}

.year-amount_m{
    width: 136px;
    height: 136px;
    box-sizing: border-box;
    padding-top: 38px;
    line-height: 1.3;
    font-size: 20px;
    top: 315px;
    right: 240px;
}

.year-amount_l{
    width: 136px;
    height: 136px;
    box-sizing: border-box;
    padding-top: 38px;
    line-height: 1.3;
    font-size: 20px;
    right: 180px;
    top: 160px;
}

.year-amount_xl{
    padding-top: 63px;
    box-sizing: border-box;
    width: 189px;
    height: 190px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.19;
    right: 10px;
    top: 10px;
}
.amount{
    font-weight: 800;
    color: white;
}

.live{
    font-size: 14px;
    font-weight: 800;
    line-height: 1.29;
    position: absolute;
    left: 42px;
    bottom: 0;
}

footer{
    background-color: #10005c;
    height: 124px;
}

@keyframes ticker {
    0% {
      transform: translate3d(0px, 0, 0);
    }
    100% {
      transform: translate3d(-670px, 0, 0);
    }
  }

  .tiker-wrapper {
    width: 100%;
    white-space: nowrap;

}
 .tiker-wrapper:hover .tiker-item{
    animation-play-state: paused;
  }

  .tiker-container{
      padding-top: 15px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      overflow: hidden;
      bottom: 60px;
      height: 140px;
      display: flex;
  }

  .tiker-item{
      display: inline-block;
      overflow: hidden;
      position: relative;
      background-color: white;
      margin: 0 50px;
      width: 231px;
      height: 124px;
      box-sizing: border-box;
      padding: 18px;
      white-space: normal;
      border-radius: 5px;
      box-shadow: 0 0 18px 0 rgba(62, 39, 157, 0.4);
      animation: ticker 8s linear infinite;
  }

  .tiker-item img{
      right: 18px;
      bottom: -20px;
      position: absolute;
  }

  .tiker-item h3{
      margin: 0;
      font-size: 19px;
      font-weight: 800;
      line-height: 1.13;
      /* position: absolute;
      top: 18px;
      left: 19px; */
  }

  .tiker-date{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.26;
    text-align: left;
    color: #6b6b6b;
    /* position: absolute;
    top: 42px;
    left: 20px; */
  }
  .tiker-amount{
    font-size: 24px;
    font-weight: 800;
    line-height: 0.9;
    text-align: left;
    color: #fd3675;
    position: absolute;
    bottom: 18px;
    left: 18px;
  }


  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
    padding-top: calc(50vh - 206px);
}

.visidle{
    display: block;
}
.overlay-form-wrapper{
    /* margin-top: 26vh; */
    width: 330px;
    height: 412vh;
    overflow: hidden;
    margin: 0 auto ;
    position: relative;
}

@keyframes formAnim{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.form-animation{

    animation: formAnim 0.3s ease-in;
}

.screen-popup{
    overflow: hidden;
}


.close-form{
    font-size: 20px;
    border: 0;
    background-color: transparent;
    position: absolute;
    z-index: 10000;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .year-amount:nth-child(1) .amount::before{
        content: '$10';
    }
    .year-amount:nth-child(2) .amount::before{
        content: '$3000.4';
    }
    .year-amount:nth-child(3) .amount::before{
        content: '$5469.33';
    }
    .year-amount:nth-child(4) .amount::before{
        content: '$8860';
    }
}
@media screen and (max-width:1180px){
    .container{
        width: 100%;
        padding-left: 40px;
    }
    header .right-content{
        padding-left: 50px;
    }
    .gradient-line .right-content{
        padding-left: 54px;
    }
    .featured-logos li{
        transform: scale(0.7);
    }
    .featured-logos ul{
        justify-content: flex-start;
    }
}

@media screen and (max-width:1055px){
    .planet-container{
        background-position-x: right;
        right: 36px;
        width: 502px;
    }
    
    .arrow{
        transform: scale(0.6);
    }
    .left-content{
        width: 550px;
    }
    header .right-content{
        padding-left: 35px;
    }
    .gradient-line .right-content{
        padding-left: 39px;
    }
}
@media screen and (max-width:970px){
    .planet-container{
        right: 0px;
    }
    h1,.bit-rush h2 {
        font-size: 34px;
    }
    .video{
        height: 208px;
    }
    .arrow {
        transform: scale(0.6) translateX(125px);
    }
    .bid-ask{
        font-size: 22px;
    }
    .bit-rush .right-content {
        width: 370px;
    }
    .logos-money ul{
        justify-content: flex-start;
    }
    .logos-money li{
        transform: scale(0.8);
    }
    .join-form{
        transform: scale(0.8);
    }
    header .right-content{
        padding-left: 0;
    }
    .form-animation {
        
        transform: scale(1) !important;
    }
}
@media screen and (max-width:750px){
    header .right-content{
        padding-left: 0;
    }
    .gradient-line .right-content{
        padding-left: 0;
        margin: 0 auto;
    }
    .container{
        padding: 0 70px;
    }
    header{
        height: auto;
    }
    header .content{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .left-content{
        text-align: center;
        width: 100%;
    }
    .video {
        width: 100%;
        height: 338px;
    }
    header .right-content .wrapper{
        margin: 0 auto;
    }
    .offer{
        margin: 0 auto 22px;
    }
    .gradient-line .left-content{
        display: none;
    }
    .logos-money{
        width: 310px;
    }
    .logos-money ul {
        justify-content: center;
    }
    .gradient-line{
        height: 125px;
    }
    .bit-rush .container{
        padding: 68px 0 0 0;
        flex-direction: column-reverse;
    }
    .bit-rush .right-content{
        text-align: center;
        margin: 0 auto;
    }
    .arrow {
        transform: scale(0.8);
        top: 50px;
    }

}

@media screen and (max-width:510px){
    .container {
        padding: 0 30px;
    }
    .join-form {
        transform: scale(1);
    }
    header .right-content .wrapper
    {
        margin: 20px auto;
    }
    .offer {
        margin: 22px auto 22px;
    }
    .arrow {
        transform: scale(0.6) translate3d(138px,-60px,0);
        top: 0;
    }
    .bit-rush .left-content{
        height: 500px;
    }
    .planet-container{
        height: 500px;
        background-size:contain ;
    }
    .bit-rush .left-content {
        height: 435px;
    }
    .featured-logos ul {
        justify-content: center;
    }
    .featured-logos li {
        transform: scale(0.5);
    }
    .bit-rush .right-content{
        box-sizing: border-box;
        padding: 0 15px;
        text-align: center;
    }
    .bit-rush .right-content p{
        text-align: center;
    }
    .container {
        padding: 0 20px;
    }
}
@media screen and (max-width:360px){
    header .right-content,header .right-content .wrapper,.bit-rush .right-content{
        width: 100%;
    }
    .join-form input,.submit-btn{
        width: 92%;
    }
    .bid-ask {
        font-size: 19px;
    }
    .logos-money {
        width: 100%;
    }
    .featured-logos li {
        transform: scale(0.5);
        margin: 0 -15px;
    }
    .arrow {
        transform: scale(0.5) translate3d(260px,-60px,0);
        top: 0;
    }.overlay-form-wrapper {
        
        width: 95%;}


}