 body,html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    overflow: hidden;
    height: 100vh;
}
#contentContainer{
    height: 100vh;
    width: 100%;
    background: url(images/999187.jpg) no-repeat center top / cover;
    -webkit-transition: 4s linear;
    transition: 4s linear;
    /* overflow: hidden;
    position: relative; */

}
#contentContainer:hover{
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

h1{
    -webkit-text-stroke: 1px white;
    margin: 0;
    font-size: 60pt;
    text-transform: uppercase;
    background: -webkit-gradient(linear,left top, left bottom,from(#6e66e8),color-stop(65%, #5b0f84),color-stop(85%, #680225));
    background: linear-gradient(180deg,#6e66e8 0%,#5b0f84 65%,#680225 85%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bigA{
    font-size: 95pt;
}
#endgame{
    -webkit-text-stroke: 1px white;
    font-size: 35pt;
    text-transform: uppercase;
    font-weight: bold;
    background: -webkit-gradient(linear,left top, left bottom,from(#ffffff),color-stop(25%, #fffb3f),color-stop(55%, #3b3a82) );
    background: linear-gradient(180deg,#ffffff 0%,#fffb3f 25%,#3b3a82 55% );
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#maintitels{
    line-height: 0.75;
    margin: 50px;
    text-align: right;
    width: 500px;
    
}
nav{
    height: 100px;
    width: 100%;
    background: -webkit-gradient(linear,left top, right top,from(white),to(rgba(255,255,255,0)));
    background: linear-gradient(90deg,white,rgba(255,255,255,0));
    -webkit-clip-path: polygon(0 0,100% 0,100% 50%,0 100%);
            clip-path: polygon(0 0,100% 0,100% 50%,0 100%);
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
}
nav img{
    margin: 15px 0 0 30px;
    width: 66.5px;
    height: 75px;
}
section{
    /* height:1500px; */
}
#decor_wight{
    height: 50px;
    width: 100%;
    background-color: white;
    -webkit-clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
            clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
    position: absolute;
    bottom: 0;
}

menu{
    display: flex;
    flex-direction: row;
    height: 100%;
   margin-top: 0;
}
menu li{
    display: block;
}

menu li:hover{
    background-color: #c6c9ce;
    border-left:2px solid #414449;
    border-right:2px solid #414449;
}
menu a{
    display: block;
    text-decoration: none;
    color:  #3f4042;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 15px 15px 15px;
    font-size: 16pt;
    font-weight: bold;
}

.containerMain{
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 15px;
    width: 1000px;
    /* height: 1000px; */
}

.containerMain a{text-decoration: none;}
.containerMain a:hover{text-decoration: underline;}
 h2,h3,h4{
    text-align: center;
}


.ticketform fieldset,.ticketform p{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
}
.ticketform p{
    margin: 10px 0;
}
.ticketform input,.ticketform select{
    width: 300px;
    height: 30px;
    font-size: 15pt;
    border-radius: 7px;
}
p.radio{
    flex-direction: row ;
}
p.radio input{
    width: auto;
    height: auto;
    margin-left: -150px;
}
p.check{
    flex-direction: row;
}
p.check input{
    width: auto;
    height: auto;
    margin-left: -150px;
}

#submitButton{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 15pt;
    color: #ffffff;
    background-color: #c91010;
    border-radius: 15px;
}
#submitButton:hover{
    color: #c91010;
    background-color: #ffffff;
    border: 2px solid #c91010;

    cursor: pointer;
}

input:invalid{
    border: 3px solid red;
    box-shadow: 0 0 10
    px rgba(0, 0, 0, 0.404);
}

.formStyleSec{
    background-color: #c91010;
    padding: 100px 0;
}
.formContainer{
    background-color: #ffffff;
    width: 700px;
    border-radius: 7px;

}
#getspoiler1{
    height: 24pt;
    font-size: 20pt;
    color: red;
    font-style: italic;
}
.spoilersbuttons{
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color:#fff;
    border-radius: 8px;
    color: rgb(180, 28, 28);
    font-weight: bold;
    font-size: 15pt;
    border: 2px solid rgb(180, 28, 28);
}

#ajaxsection > div{
    display: flex;
    flex-direction: column;
}
#movietable,#movietable tr,#movietable th,#movietable td{
    border: 1px solid black;
    border-collapse: collapse;
}