 body,html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.test{color: white;}
.smalie{height: 0;}
.liinline{display: inline-block;}
.baccolwidht{background-color: #fff;}
header{
    overflow: hidden;
    height: 100vh;
}
#contentContainer{
    height: 100vh;
    width: 100%;
    background: url(images/999187.jpg) no-repeat center top ;
    -webkit-transition: 4s linear;
    transition: 4s linear;


}
#contentContainer:hover{
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

h1{
    -webkit-text-stroke: 1px white;
    margin: 0;
    font-size: 60pt;
    text-transform: uppercase;
    background: -webkit-gradient(linear,left top, left bottom,from(#6e66e8),color-stop(65%, #5b0f84),color-stop(85%, #680225));
    background: linear-gradient(180deg,#6e66e8 0%,#5b0f84 65%,#680225 85%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bigA{
    font-size: 95pt;
}
#endgame{
    -webkit-text-stroke: 1px white;
    font-size: 35pt;
    text-transform: uppercase;
    font-weight: bold;
    background: -webkit-gradient(linear,left top, left bottom,from(#ffffff),color-stop(25%, #fffb3f),color-stop(55%, #3b3a82) );
    background: linear-gradient(180deg,#ffffff 0%,#fffb3f 25%,#3b3a82 55% );
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#maintitels{
    line-height: 0.75;
    margin: 50px;
    text-align: right;
    width: 500px;
    
}
nav{
    height: 100px;
    width: 100%;
    background: -webkit-gradient(linear,left top, right top,from(white),to(rgba(255,255,255,0)));
    background: linear-gradient(90deg,white,rgba(255,255,255,0));
    -webkit-clip-path: polygon(0 0,100% 0,100% 50%,0 100%);
            clip-path: polygon(0 0,100% 0,100% 50%,0 100%);
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    nav{
        /* display: inline; */
    }
    #maintitels{
        color: #fff;
       
    }
    #endgame{
        background:none;
    }
    h1{
        background: none;
    }
    
}
nav img{
    margin: 15px 0 0 30px;
    width: 66.5px;
    height: 75px;
}
section{
    /* height:1500px; */
}
.decor_wight{
    height: 50px;
    width: 100%;
    background-color: white;
    -webkit-clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
            clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
    position: absolute;
    bottom: 0;
}

menu{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 0;
}
menu li{
    display: block;
}

menu li:hover{
    background-color: #c6c9ce;
    border-left:2px solid #414449;
    border-right:2px solid #414449;
}
menu a{
    display: block;
    text-decoration: none;
    color:  #3f4042;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 15px 15px 15px;
    font-size: 16pt;
    font-weight: bold;
}

.containerMain{
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 15px;
    width: 1000px;
    /* height: 1000px; */
}

.containerMain a{text-decoration: none;}
.containerMain a:hover{text-decoration: underline;}
 h2,h3,h4{
    text-align: center;
}


.ticketform fieldset,.ticketform p{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
}
.ticketform p{
    margin: 10px 0;
}
.ticketform input,.ticketform select{
    width: 300px;
    height: 30px;
    font-size: 15pt;
    border-radius: 7px;
}
.radio{
    flex-direction: row;
}
.radio input{
    width: auto;
    height: auto;
}
.check{
    flex-direction: row;
}
.check input{
    width: auto;
    height: auto;

}

#submitButton{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 15pt;
    color: #ffffff;
    background-color: #c91010;
    border-radius: 15px;
}
#submitButton:hover{
    color: #c91010;
    background-color: #ffffff;
    border: 2px solid #c91010;

    cursor: pointer;
}

input:invalid{
    border: 3px solid red;
    box-shadow: 0 0 10
    px rgba(0, 0, 0, 0.404);
}

.formStyleSec{
    background-color: #c91010;
    padding: 100px 0;
}
.formContainer{
    background-color: #ffffff;
    width: 700px;
    border-radius: 7px;

}
#getspoiler1{
    min-height: 24pt;
    font-size: 20pt;
    color: red;
    font-style: italic;
}
.spoilersbuttons{
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color:#fff;
    border-radius: 8px;
    color: rgb(180, 28, 28);
    font-weight: bold;
    font-size: 15pt;
    border: 2px solid rgb(180, 28, 28);
    margin: 10px 0;
}
.xmlbutt{
    width: 350px;
}

#movietable,#movietable tr,#movietable th,#movietable td{
    border: 1px solid black;
    border-collapse: collapse;
    
}
#movietable{
    width: 100%
}
canvas{
    border: 1px solid black;
    background-color: #fff;

}

#dronzon{
    height: 500px;
    background-color: #976969;
}
#dropwindow{
    height: 400px;
    width: 250px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #fff;
}
#dargzon{
    height: 500px;
    background-color: #afc986;
}
#tandrag{
    width: 250px;
    height: 386,6px;
}
#ajaxdivinner {
    display: flex;
    flex-direction: column;
}
img.thumbnail{
    height: 150px;
    width: 100px
}
audio{
    width: 100%;
}
.controlbutton{
    border-radius: 3px;
    border: 1px solid black;
    background-color: #fff;
    height: 30px;
    margin: 10px 0;
}
.controlbutton:hover{
    cursor: pointer;
}
.wraperforcanv{
    width:320px;
    margin: 0 auto;
}
footer{
    height: 100px;
    background-color: #424b5c
}
.hoo{
    margin-left: 150px;
}
@media screen and (max-width:1100px){
      nav{
        background-color: white;
        clip-path: none;
        height: auto;
        min-height: 100px;
    }  
}
@media screen and (max-width:1050px){
    .containerMain{
        width: 100%;
        box-sizing: border-box;
    }
    menu{
        flex-wrap: wrap;
    }

}
@media screen and (max-width:690px){

    menu a{
        padding: 10px;
    }
    #dargzon{
        height: auto;
        min-height: 500px
    }
}
@media screen and (max-width:560px){
    #bigA{
        font-size: 70pt;
    }
    h1{
        font-size: 40pt
    }
    #endgame{
        font-size:35px;
    }
    #maintitels{
        width:100%;
        text-align: left;
        margin: 50px 0 0 0;
    }
    .hoo{margin: 0;}
}